### Probabilyt Ratio Encoding

In [1]:
import pandas as pd

In [3]:

df=pd.read_csv("titanic_train.csv",usecols=['Cabin','Survived'])

In [4]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [5]:
##Replacing Nan with other name

df['Cabin'].fillna("Missing",inplace=True)

In [6]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [8]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [9]:
df.head(10)

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M
5         0     M
6         0     E
7         0     M
8         1     M
9         1     M

In [10]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)