In [2]:
import pandas as pd
import numpy as np

In [3]:
df =pd.read_csv('train.csv',usecols=["X1","X2"])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
df.shape
#2 categoric

(4209, 2)

## we r performing one hot encoding

In [5]:
 pd.get_dummies(df).shape

(4209, 71)

## 69 columns are added

In [6]:
len(df['X1'].unique())

27

In [7]:
len(df['X2'].unique())

44

In [33]:
for col in df.columns[0:]:
    print(col, ":",len(df[col].unique()),"labels")

X1 : 27 labels
X2 : 23 labels

In [34]:
df.head()

  X1     X2
0  v   12.0
1  t   12.0
2  w  137.0
3  t  137.0
4  v  137.0

In [35]:
#taking x2values and converting into dict
df.X2.value_counts().to_dict()

{1659.0: 1659,
 496.0: 496,
 415.0: 415,
 367.0: 367,
 265.0: 265,
 153.0: 153,
 137.0: 137,
 94.0: 94,
 87.0: 87,
 81.0: 81,
 63.0: 63,
 54.0: 54,
 47.0: 47,
 12.0: 36,
 29.0: 29,
 21.0: 21,
 20.0: 20,
 18.0: 18,
 8.0: 16,
 13.0: 13,
 10.0: 10,
 3.0: 3}

In [36]:
#and now lets replace each label in x2 by its count

#first we make a dictionary that maps each labels to the count
df_frequency_map =df.X2.value_counts().to_dict()

In [37]:
#and now we replace x2 labels in the datasets df

df.X2 =df.X2.map(df_frequency_map)

In [38]:
df.head()

  X1     X2
0  v   36.0
1  t   36.0
2  w  137.0
3  t  137.0
4  v  137.0